$base-color: #cc4d55;
$secondary-color: #FFFFFF;
$striked-color: #e4e4e4;

body, html{
  font-family: sans-serif;
  background-color: $base-color;
  height: 100%;
  width: 100%;
  color: $secondary-color;
  margin: 0 0 0 0;
}
.app{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.completed{
  text-decoration: line-through;
  color: $striked-color;
}
.incomplete{
  text-decoration: none;
  color: $secondary-color;
}
i{
  display: block;
}
.incomplete:hover{
  cursor: pointer;
}
.completed:hover{
  cursor: pointer;
}
#todo{
  margin-bottom: 10px;
}